@font-face {
  font-family: 'Uncunt Sans';
  src: url('./fonts/Uncut-Sans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Uncunt Sans';
}

.card:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}